@use "sass:map";
@import "theme";
@import "breakpoints";

$md: map.get($fg-breakpoints, md);
$background-gradient: map.get($fg-colors, background-gradient);

h1, h2, h3, h4, p {
    margin: 8px;
}

body {
    margin: 0;
    padding: 24px;
    height: 100vh;
    background: $background-gradient;
    background-repeat: no-repeat;
    overflow-y: auto;

    @media only screen and (max-width: $md) {
        height: 100%;
    }
}

.f {
    display: flex;
}

.f-responsive {
    @media only screen and (max-width: $md) {
        flex-direction: column;
    }
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.tm-2 {
    margin: 16px;
}

.ac {
    align-items: center;
}

.tc {
    text-align: center;
}

.mb {
    margin-bottom: 70px;
}

.h100 {
    height: 100%;
}

.centered {
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.section-gradient {
    background-color: map.get($fg-colors, white-gradient);
    border-radius: 30px;
    padding: 40px;

    @media only screen and (max-width: $md) {
        padding: 16px;
        height: 100%;
    }
}