<div class="fg-card f column">
    <div class="fg-card__header">
      <div class="fg-card__header__tag" *ngIf="pricing.tag">
        <span class="body">{{ pricing.tag}}</span>
      </div>
        <div class="fg-card__header__title ">
          <p class="title tc">{{ pricing.title }}</p>
        </div>
        <p class="tc"><span class="card-price">{{ pricing.price }}</span><span class="body">{{ pricing.date }}</span></p>  
        <p class="subbody tc">{{ pricing.subtitle }}</p>
    </div>

      <div role="list" class="fg-card__body">
        <div class="fg-card__body__row f ac" *ngFor="let feature of pricing.features">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.274 7.96967C16.5359 8.26256 16.5359 8.73744 16.274 9.03033L10.0152 16.0303C9.7533 16.3232 9.32871 16.3232 9.06683 16.0303L5.49036 12.0303C5.22848 11.7374 5.22848 11.2626 5.49036 10.9697C5.75224 10.6768 6.17683 10.6768 6.43871 10.9697L9.541 14.4393L15.3257 7.96967C15.5875 7.67678 16.0121 7.67678 16.274 7.96967Z" fill="black"/>
          </svg>
          <span>{{ feature }}</span>
        </div>
      </div>
      <div class="fg-card__button">
        <button class="fg-btn primary" href="#">Buy plan</button>
      </div>
</div>