@use "sass:map";
@import "../general/theme";
@import "../general/typography";

$gray: map.get($fg-colors, gray-light);
$blue: map.get($fg-colors, primary);
$white: map.get($fg-colors, white);

.fg-btn {
    width: 100%;
    text-decoration:none;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    margin: 16px;
    height: fit-content;
    cursor: pointer;
    border: none;
    opacity: 1;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    &:hover {
        opacity: 0.6;
    }
}

.primary {
    color: $white;
    background-color: $blue;
    font-family: map.get($fg-typography, secondary);
    font-size: 18px;
    font-weight: 600;
}

.highlighted {
    color: $blue;
    background-color: $white;
}

.disabled {
    color: $white;
    background-color: $gray;
    opacity: 0.5;
}