@use "sass:map";
@import "../general/theme";
@import "../general/breakpoints";

$md: map.get($fg-breakpoints, md);
$highlight: map.get($fg-colors, highlight);
$white: map.get($fg-colors, white);
$gray: map.get($fg-colors, gray-light);
$white-gradient:  map.get($fg-colors, white-gradient);
$blue-gradient:  map.get($fg-colors, primary-gradient);

.fg-card {
    border: 1px solid $white;
    border-radius: 20px;
    height: 100%;
    margin-right: 4px;
    margin-bottom: 32px;
    cursor: pointer;

    &__header {
        background-color: $white-gradient;
        border-radius: 20px 20px 0 0;
        padding: 16px 24px;
        position: relative;

        &__tag {
            background-color: $highlight;
            position: absolute;
            top: -10px;
            right: 0;
            left: 0;
            left: 0;
            margin: auto;
            width: fit-content;
            padding: 4px 8px;
            border-radius: 20px;

            span {
                color: $white;
            }
        }
    }

    &__body {
        padding: 16px 24px;

        &__row {
            padding: 8px;
            border-bottom: 1px solid $white;
            svg {
                margin-right: 8px;
            }
        }
    }

    &__button {
        height: 100%;
        display: flex;
        align-items: end;
    }
}

fg-pricing-card.selected {
    .fg-card {
        border: none;
        background: $blue-gradient;

        @media only screen and (min-width: $md) {
            transform: translateY(-40px);
            transition: .5s;
        }

        p, h3, span {
            color: $white;
        }

        .subbody {
            color: $gray;
        }

        path {
            fill: $white;
        }

        .fg-card__header {
            background-color: unset;
        }

        &__button .fg-btn{
            color: $blue;
            background-color: $white;
        }
    }
}
