<div class="f centered">
    <div class="pricing-page section-gradient">
        <div class="pricing-page__container f centered column">
            <div class="pricing-page__container__text mb">
                <h3 class="header tc tm-2"> Pricing plans for teams of all sizes</h3>
                <p class="body tc"> Distinctio et nulla eum soluta et neque labore quibusdam. Saepe et quasi iusto modi velit ut non voluptas in. Explicabo id ut laborum.</p>
            </div>
            <div class="pricing-page__container__cards f">
                <fg-pricing-card [pricing]="card" *ngFor="let card of pricingTeam"></fg-pricing-card>
            </div>
        </div>
    </div>
</div>
