@use "sass:map";
@import 'app/ui/index.scss';

body {
    margin: 0;
    padding: 24px;
    height: 100vh;
    background: map.get($fg-colors, background-gradient);
    background-repeat: no-repeat;
    overflow-y: auto;

    @media only screen and (max-width: $md) {
        height: 100%;
    }
}